nav {
    background-color: lightblue;
    color: white;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;  
    font-size: 20px;
}

nav h1 {
    font-size: 40px;
    font-style: italic;
}

nav ul {
    list-style-type: none;
    /* padding: 0; */
}
  
nav ul li {
    display: inline;
    margin-right: 10px;
}
  
nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

body {
    background-image: url("./pictures/travel_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: lightblue;
}

#home:hover {
    text-decoration: underline;
}

#aboutUs:hover {
    text-decoration: underline;
}

#contactUs:hover {
    text-decoration: underline;
}

.titleDescription {
    color: darkblue;
    padding-left: 30%;
    padding-right: 40%;
    font-style: oblique;
    font-size: 50px;
}

.description {
    color: darkblue;
    padding-left: 30%;
    padding-right: 40%;
    font-style: oblique;
    font-size: 30px;
}

.titleDescriptionContactUs {
    color: darkblue;
    padding-left: 30%;
    padding-right: 40%;
    font-style: oblique;
    font-size: 30px;    
}

.titleDescriptionAboutUs {
    color: darkblue;
    padding-left: 30%;
    padding-right: 40%;
    font-style: oblique;
    font-size: 30px;
}

.descriptionAboutUs {
    color: darkblue;
    padding-left: 30%;
    padding-right: 40%;
    font-style: oblique;
    font-size: 17px;
}

.searchDestinationResult {
    color: darkblue;
    padding-left: 30%;
    font-style: oblique;
    font-size: 30px;    
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
    background: lightblue;
    color: white;
  }

.social_media {
    display: flex;
    justify-content: flex-end;  
}

.social_links {
    list-style: none;
    /*text-align: center;*/
    position: absolute; bottom: 0px; left: 0;
    width: 100%;
    /*padding: 0;
    margin: 0;*/
}

.social_links li {
    margin-bottom: 10px;
    display: inline;
}

.button {
    background-color: lightblue;
    border-radius: 8px;
    color: white;
    font-size: 20px;
    border: 2px solid white
}

.button:hover {
    background-color: white;
    color: lightblue;
    border: 2px solid lightblue
}

.dataInput {
    border: 2px solid white;
    border-radius: 8px;
    font-size: 20px;
    color: lightblue;
}

.contactForm {
    padding-left: 30%;
}

.nameDataInput {
    border: 2px solid white;
    border-radius: 8px;
    font-size: 20px;
    color: lightblue;
    width: 400px;
}

.emailDataInput {
    border: 2px solid white;
    border-radius: 8px;
    font-size: 20px;
    color: lightblue;
    width: 400px;
}

.messageDataInput {
    border: 2px solid white;
    border-radius: 8px;
    font-size: 20px;
    color: lightblue;
    width: 400px;
    height: 400px;
}

::placeholder {
    color: lightblue;
    opacity: 1; /* Firefox */
  }

*:focus {
    outline: none;
}

.column {
    float: left;
    width: 20%;
    margin-bottom: 16px;
}

.row {
    padding-left: 30%;
    color: darkblue;
}

.ourTeam {
    padding-left: 30%;
    color: darkblue;
    font-size: 30px;
    font-style: oblique;
}

.card {
    box-shadow: 0 3px 6px 0 lightblue;
}
  
.container {
    padding: 0 16px;
    font-style: oblique;
}

.title {
    color: darkblue;
    font-style: oblique;
}
